.about {
  padding: 47px 30px 0;
}

.about__title {
  margin-bottom: 33px;

  font-size: 25px;
  line-height: 30px;
}

.about__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.about__item {
  position: relative;
  padding-top: 54px;
  padding-right: 10px;
  margin-bottom: 29px;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.about__item:nth-child(1) {
  padding-right: 65px;
}

.about__item:nth-child(2),
.about__item:nth-child(3) {
  padding-right: 55px;
}

.about__content {
  margin: 0;
}

.about__item::after {
  content: " ";
  position: absolute;
  top: 0;
  width: 32px;
  height: 37px;

  background-position: center;
  background-repeat: no-repeat;
}

.about__item--flower::after {
  left: 7px;

  width: 32px;
  height: 37px;
  background-image: url("../img/icon-feature-flower.svg");
}

.about__item--money::after {
  left: 0;

  width: 47px;
  height: 27px;
  background-image: url("../img/icon-feature-money.svg");
}

.about__item--heart::after {
  top: 6px;
  left: 6px;

  width: 34px;
  height: 28px;
  background-image: url("../img/icon-feature-heart.svg");
}

.about__item--ball::after {
  top: 2px;
  left: 2px;

  width: 35px;
  height: 34px;
  background-image: url("../img/icon-feature-ball.svg");
}


.about__item--rocket::after {
  top: 4px;
  left: -6px;

  width: 55px;
  height: 23px;
  background-image: url("../img/icon-feature-rocket.svg");
}

.about__item--gift::after {
  top: 2px;
  left: 0;

  width: 33px;
  height: 32px;
  background-image: url("../img/icon-feature-gift.svg");
}

@media (min-width: 768px) {
  .about {
    padding: 0 50px;
    padding-top: 50px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .about__item {
    width: 50%;
    padding-right: 50px;

    margin-bottom: 55px;
  }

  .about__content {
    font-size: 20px;
    line-height: 22px;
  }

  .about__item:first-child {
    padding-right: 120px;
  }

  /* ORDER */

  .about__item:nth-child(4) {
    order: 1;
  }

  .about__item:nth-child(2) {
    order: 2;
    padding-right: 70px;
  }

  .about__item:nth-child(5) {
    order: 3;
    padding-right: 0;
  }

  .about__item:nth-child(3) {
    order: 4;
    padding-right: 95px;
  }

  .about__item:nth-child(6) {
    order: 5;
  }
}

@media (min-width: 1150px) {
  .about {
    max-width: 1150px;
    margin: 0 auto;
    padding: 60px 177px 0 225px;
  }

  .about__list {
    max-width: 700px;
  }

  .about__title {
    font-size: 53px;
    line-height: 53px;
  }

  .about__item:nth-child(2) {
    padding-right: 85px;
  }

  .about__item:nth-child(3) {
    padding-right: 115px;
  }

  .about__item:nth-child(6) {
    padding-right: 60px;
  }
}
