.btn {
  box-sizing: border-box;
  display: block;

  width: 259px;
  padding: 14px 0;

  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;

  background-color: transparent;
  border: 2px solid rgb(68, 68, 68);

  &:hover,
  &:focus {
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    outline: none;
  }

  &:active {
    background-color: rgb(68, 68, 68);
    color: rgba(255, 255, 255, 0.3);
  }
}
