.contacts {
  padding-top: 43px;
  padding-bottom: 39px;
}

.contacts__container {
  padding: 0 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  margin-bottom: 35px;

  font-size: 15px;
  line-height: 30px;
}

.contacts__list tbody {
  vertical-align: top;
}

.contacts__key {
  min-width: 76px;
  padding-bottom: 20px;
}

.contacts__value a {
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(98, 209, 186);
}

.contacts__map {
  position: relative;
}

.contacts__map::after {
  content: " ";
  width: 67px;
  height: 100px;

  position: absolute;
  left: 138px;
  top: 145px;

  background-image: url("../img/icon-map-pin.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__write {
  margin-top: 39px;
  margin-left: 30px;
}


@media (min-width: 768px) {
  .contacts {
    padding: 0;
    margin-top: 45px;
  }

  .contacts__container {
    position: relative;
    padding: 0 50px;
  }

  .contacts__container::after {
    content: " ";
    width: 47px;
    height: 81px;

    position: absolute;
    top: 0;
    right: 50px;

    background-image: url("../img/icon-flag.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 25px;
    margin-bottom: 60px;
  }

  .contacts__list {
    width: 100%;
    font-size: 17px;
  }

  .contacts__list tbody {
    display: flex;
  }

  .contacts__list tr {
    width: 50%;
  }

  .contacts__map {
    background-color: rgb(236, 236, 236);
    height: 457px;
  }

  .contacts__write {
    margin: 55px auto;
    width: 230px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    margin: 70px 50px 105px;
    padding: 0;

    display: flex;
    flex-flow: row wrap;
  }

  .contacts__container {
    width: 50%;
    padding-left: 177px;
    padding-bottom: 52px;
    align-self: flex-start;
  }

  .contacts__map {
    width: 50%;
  }

  .contacts__list {
    margin: 0;
  }

  .contacts__list tbody {
    display: table;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 62px;
    margin-bottom: 40px;
  }

  .contacts__container::after {
    top: 62px;
    left: 65px;
  }

  .contacts__write {
    margin: 0;
    margin-left: 177px;
    margin-top: -52px;
  }
}
