.copyright {
  padding-top: 20px;

  font-size: 19px;
  line-height: 18px;

  border-top: 1px solid rgb(229, 229, 229);
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__icon {
  margin-left: 30px;
  fill: rgb(99, 209, 187);
}


.copyright__link:hover .copyright__icon {
  fill: rgb(70, 193, 174);
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__link:active .copyright__icon {
  fill: rgb(70, 193, 174);
}

@media (min-width: 768px) {
  .copyright {
    padding-top: 0;
    border: none;

    justify-content: flex-end;
  }
}
