.hero {
  background-color: rgb(249, 249, 249);
}

.hero__container {
  display: flex;
  flex-direction: column;

  background-color: rgb(249, 249, 249);
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.hero__item {
  position: relative;
}

.hero__text {
  min-height: 281px;
  padding: 70px 30px 0;
  text-align: center;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}

.hero__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hero__link {
  display: block;
  padding: 25px 130px 30px 30px;

  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}

.hero__link--lighter {
  background-color: rgb(99, 209, 187);
}

.hero__link--darker {
  background-color: rgb(86, 195, 178);
}

.hero__link--lighter::after {
  content: " ";
  width: 40px;
  height: 62px;

  position: absolute;
  top: 50%;
  right: 36px;
  transform: translateY(-50%);

  background-image: url("../img/icon-interior.svg");
  opacity: 0.5;
}

.hero__link--darker::after {
  content: " ";
  width: 60px;
  height: 60px;

  position: absolute;
  top: 50%;
  right: 27px;
  transform: translateY(-50%);

  background-image: url("../img/icon-toy.svg");
  opacity: 0.5;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
  }

  .hero__container {
    margin-top: -57px;
    border-top: 1px solid rgb(236, 236, 236);
    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .hero__text {
    min-height: 625px;
    padding: 153px 50px 0;
    font-size: 43px;
    line-height: 50px;
  }

  .hero__list {
    margin: 0 50px;
    max-width: 668px;
    display: flex;
    flex-direction: row;
  }

  .hero__item {
    width: 50%;
  }

  .hero__link {
    padding-top: 30px;
    padding-left: 35px;

    font-size: 20px;
    line-height: 30px;
  }

  .hero__link:hover,
  .hero__link:focus {
    position: absolute;
    bottom: 0;
    padding-bottom: 35px;
  }

  .hero__link:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .hero__link--lighter:active::after {
    opacity: 0.3;
  }

  .hero__link--darker:active::after {
    opacity: 0.3;
  }

  .hero::after {
    content: " ";
    width: 100%;
    height: 22px;

    position: absolute;
    bottom: -11px;
    left: 0;


    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: contain;
    background-repeat: repeat-x;
  }
}

@media (min-width: 1150px) {
  .hero__container {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: -45px;
    padding: 0 50px;

    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .hero__text {
    padding: 0;
    padding-top: 155px;
    padding-bottom: 357px;
    margin: 0 auto;

    max-width: 620px;

    font-size: 53px;
    line-height: 57px;
  }

  .hero__list {
    max-width: 1050px;
    margin: 0;
  }

  .hero__item {
    width: 50%;
    position: relative;
  }

  .hero__link {
    padding: 30px 370px 30px 36px;
  }

  .hero::after {
    content: " ";
    width: 100%;
    height: 34px;

    position: absolute;
    bottom: -17px;
    left: 0;


    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: contain;
    background-repeat: repeat-x;
  }
}
