
.main-nav__toggle {
  border: none;
  background-color: transparent;

  width: 20px;
  height: 16px;

  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;

  font-size: 0;

  position: absolute;
  top: 32px;
  right: 30px;
}

.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
}

.main-nav__list {
  width: 100%;
}

.main-nav__sub-text {
  display: none;
}

@media (min-width: 768px) {
  .main-nav {
    padding: 0 50px;

    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__sub-text {
    display: block;
    font-size: 15px;
    line-height: 24px;
    order: 3;

    margin-left: auto;
  }
}
