.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  width: 320px;

  margin-top: -168px;
  margin-left: -161px;
  padding: 33px 30px 0;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(198, 198, 198);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
}

.modal--hidden {
  display: none;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 50px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9px;
}

.modal__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.modal__description {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 25px;
  text-align: center;
}

.modal__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.modal__label {
  width: 31%;
  height: 52px;
}

.modal__label input[type="radio"] + .modal__box {
  height: 100%;

  border: 2px solid rgba(68, 68, 68, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;

  cursor: pointer;
}

.modal__label input[type="radio"]:hover + .modal__box {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.modal__label input[type="radio"]:checked + .modal__box {
  border: 2px solid rgba(99, 209, 187, 1);
}

.modal__btn {
  width: 100%;
  margin-bottom: 46px;
  background-color: rgb(99, 209, 187);
  border: none;
  color: rgb(255, 255, 255);

  cursor: pointer;
}

@media (min-width: 768px) {
  .modal {
    left: 50%;
    width: 566px;

    margin-top: -168px;
    margin-left: -283px;

    padding: 50px 108px 0;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
    padding: 0;
    width: 355px;
  }

  .modal__description {
    font-size: 17px;
  }

  .modal__btn {
    width: 100%;
    margin-bottom: 46px;
    background-color: rgb(99, 209, 187);
    border: none;
    color: rgb(255, 255, 255);

    cursor: pointer;
  }
}
