.page-main__title-wrapper {
  min-height: 177px;
  background-color: rgb(241, 241, 241);

  text-align: center;
}

.page-main__title {
  margin: 0;
  padding-top: 70px;
  font-size: 27px;
  line-height: 30px;
}

/* форма */

.page-main__description {
  margin-top: 20px;
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .page-main__title-wrapper {
    margin-top: -54px;
    margin-bottom: 0;
    border-top: 1px solid rgb(236, 236, 236);

    min-height: 237px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: auto 22px;
  }

  .page-main__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 92px;
  }

  .page-main__description {
    margin-top: 58px;
    margin-bottom: 7px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .page-main__title-wrapper {
    min-height: 272px;
    margin-top: -45px;

    background-size: auto 34px;
  }

  .page-main__title {
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__description {
    padding: 0 225px;
    margin-top: 104px;
  }
}
