.page-main__title-wrapper {
  margin-bottom: 30px;
  min-height: 177px;
  background-color: rgb(241, 241, 241);

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-main__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
}

/* форма */

.page-main__description {
  margin-top: 0;
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .page-main__title-wrapper {
    margin-top: -54px;
    border-top: 1px solid rgb(236, 236, 236);

    min-height: 225px;
  }

  .page-main__title {
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__description {
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .page-main__title-wrapper {
    min-height: 255px;
  }

  .page-main__title {
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__description {
    padding: 0 225px;
  }
}
