.page-footer {
  background-color: rgb(241, 241, 241);
}


.page-footer__container {
  padding: 25px 30px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__container {
    padding: 50px 50px;

    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    width: 111px;
  }
}
