.page-main__title-wrapper {
  margin-bottom: 30px;
  min-height: 177px;
  background-color: rgb(241, 241, 241);

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-main__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
}

/* форма */

.page-main__description {
  margin-top: 0;
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
}
