.page-footer {
  background-color: rgb(241, 241, 241);
}

.page-footer__container {
  padding: 25px 30px;
}

.page-footer__logo {
  display: none;

  &:focus {
    outline: none;
  }

  &:hover .page-footer__logo-img,
  &:focus .page-footer__logo-img {
    fill: rgb(70, 193, 174);
  }

  &:active .page-footer__logo-img {
    fill: rgb(70, 193, 174);
    opacity: 0.3;
  }
}


@media (min-width: 768px) {
  .page-footer__container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 55px 50px;

    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    width: 111px;
  }
}

@media (min-width: 1150px) {
  .page-footer__container {
    padding: 55px 50px;
  }
}
