.production-process {


  display: flex;
  flex-direction: column;

  border: 1px solid rgb(237, 237, 237);
  margin: 0 30px;
  margin-bottom: 58px;
}

.production-process__title {
  position: relative;

  margin: 0;
  padding-left: 90px;
  padding-top: 26px;
  padding-bottom: 25px;

  font-size: 17px;
  line-height: 24px;
}

.production-process__title::after {
  content: " ";
  width: 32px;
  height: 22px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;

  background-image: url("../img/icon-video.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.production-process__description {
  margin-top: 32px;
  margin-bottom: 39px;
  padding-left: 34px;

  font-size: 13px;
  line-height: 24px;
}

.production-process__order {
  width: 193px;
  margin-bottom: 33px;

  align-self: center;
}

@media (min-width: 768px) {
  .production-process {
    margin: 0 50px;
    margin-bottom: 62px;
  }

  .production-process__title {
    order: -1;
    font-size: 20px;
  }

  .production-process__description {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;

    font-size: 15px;
    line-height: 30px;
  }

  .production-process__order {
    width: 584px;
  }
}

@media (min-width: 1250px) {
  .production-process {
    margin: 57px 100px 105px 100px;
    max-height: 455px;

    flex-wrap: wrap;
  }

  .production-process__video-container {
    width: 682px;
    order: -1;
    margin-right: 78px;
  }

  .production-process__title {
    order: 0;
    padding: 0;
    padding-top: 100px;
    margin-bottom: 40px;
  }

  .production-process__description {
    padding: 0;
    margin: 0;
    margin-bottom: 55px;
    max-width: 287px;
  }

  .production-process__order {
    width: 230px;
    align-self: unset;
  }
}
