.product {
  border: 1px solid rgb(237, 237, 237);
  margin-bottom: 33px;
}

.product__text-wrapper {
  display: flex;
  flex-direction: column;

  padding-left: 28px;
}

.product__image {
  line-height: 0;
}

.product__title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-right: 25px;

  font-size: 17px;
  line-height: 24px;
}

.product__description {
  margin: 0;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 30px;
}

.product__order {
  border-top: 1px solid rgb(237, 237, 237);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  margin-top: 20px;
}

.product__btn {
  display: block;
  width: 21px;
  height: 18px;

  align-self: center;
  margin-right: 27px;

  font-size: 0;
}

.product__btn-icon {
  opacity: 0.2;
}

.product__btn:hover .product__btn-icon,
.product__btn:focus .product__btn-icon {
  opacity: 1;
  fill: rgb(99, 209, 187);
}

.product__btn:active .product__btn-icon {
  opacity: 0.3;
  fill: rgb(99, 209, 187);
}

.product__image:focus,
.product__btn:focus {
  outline: none;
}

@media (min-width: 768px) {
  .product {
    display: flex;
    margin-bottom: 52px;

    position: relative;
  }

  .product__text-wrapper {
    width: 50%;
    margin-left: auto;
    padding-right: 32px;

    .product:hover &,
    .product:focus & {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    .product:active & {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }


  .product__title {
    font-size: 20px;
    margin-top: 24px;
    padding-right: 35px;

    & a:hover,
    & a:focus {
      opacity: 0.6;
      outline: none;
    }

    &:active {
      opacity: 0.3;
    }
  }


  .product__description {
    font-size: 15px;
  }

  .product__order {
    margin-top: auto;
    margin-bottom: 27px;
    padding-top: 20px;
  }

  .product__price {
    margin: 0;

    font-size: 17px;
    line-height: 24px;
  }

  .product__btn {
    margin: 0;
  }
}

@media (min-width: 1150px) {
  .product {
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 0;

    width: 316px;
    min-height: 659px;

    &:last-child {
      margin-right: 0;
    }
  }


  .product__text-wrapper {
    width: auto;
    height: 100%;
    margin-left: 0;
    padding-right: 32px;
  }

  .product__title {
    padding-right: 15px;
  }

  .product__description {
    margin-bottom: 0;
  }

  .product__image img {
    width: 314px;
  }

  .product__order {
    margin-top: auto;
    margin-bottom: 0;
    padding-top: 22px;
    padding-bottom: 25px;
  }
}
