
.product-of-the-week {
  padding: 28px 30px 0;
}

.product-of-the-week__title {
  margin: 0;
  margin-bottom: 2px;

  font-size: 25px;
  line-height: 30px;
}

.product-of-the-week__hit {
  color: rgb(99, 209, 187);
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-of-the-week__description {
  margin-top: 22px;

  font-size: 15px;
  line-height: 24px;
}

.product-of-the-week__price {
  margin-top: 20px;
  margin-bottom: 28px;

  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .product-of-the-week {
    position: relative;

    margin: 0;
    margin-top: 45px;
    padding: 0 50px;
    padding-bottom: 70px;

    width: 768px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &::after {
      content: " ";
      width: 768px;
      height: 15px;

      position: absolute;
      bottom: 0;
      left: 0;

      background-image: url("../img/bg-zigzag-line.svg");
      background-position: 20px bottom;
      background-repeat: repeat-x;
      background-size: auto 15px;
    }
  }


  .product-of-the-week__flex-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;

    &--title {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &--content {
      padding-bottom: 120px;
    }

    &--price {
      margin-top: -120px;
    }
  }


  .product-of-the-week__title {
    font-size: 43px;
    line-height: 50px;
    flex-basis: 75%;
    margin-bottom: 50px;
  }

  .product-of-the-week__hit {
    max-width: 100px;
    padding-right: 25px;
    margin-bottom: 50px;

    text-align: center;
    align-self: center;
  }

  .product-of-the-week__description {
    margin-top: 0;
    margin-bottom: 35px;
    padding-right: 40px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-of-the-week__price {
    padding-left: 70px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 35px;

    font-size: 20px;
    line-height: 24px;
  }

  .product-of-the-week__order {
    width: 290px;
  }
}

@media (min-width: 1150px) {
  .product-of-the-week {
    margin: 0 auto;
    margin-top: 70px;
    padding: 0 50px;
    padding-top: 53px;
    padding-bottom: 96px;
    width: 1150px;

    &::after {
      content: " ";
      width: 1050px;
      height: 23px;

      position: absolute;
      bottom: 0;
      left: 50px;

      background-image: url("../img/bg-zigzag-line.svg");
      background-position: bottom left;
      background-repeat: repeat-x;
      background-size: auto 23px;
    }
  }


  .product-of-the-week__flex-container {
    padding-left: 177px;
    align-self: flex-start;

    &--title {
      flex-basis: 702px;
      justify-content: flex-start;
      margin-bottom: 50px;
      padding-left: 0;
    }

    &--price {
      margin-top: -130px;
    }
  }

  .product-of-the-week__title {
    flex-basis: unset;
    min-width: 527px;
    order: 1;
    font-size: 53px;
    line-height: 57px;
    margin: 0;
  }

  .product-of-the-week__hit {
    width: 177px;
    padding-right: 15px;
    padding-top: 7px;
    margin: 0 auto;
  }

  .product-of-the-week__description {
    padding-right: 50px;
    margin-bottom: 47px;

    max-width: 350px;
  }

  .product-of-the-week picture {
    margin-top: -163px;
    z-index: -1;
  }

  .product-of-the-week__price {
    font-size: 20px;
    margin-top: 15px;
  }
}
