.product {
  border: 1px solid rgb(237, 237, 237);
  margin-bottom: 30px;
}

.product__text-wrapper {
  display: flex;
  flex-direction: column;

  padding-left: 28px;
}

.product__image {
  background-color: rgb(230, 230, 230);
}

.product__title {
  margin: 0;
  margin-top: 30px;
  font-size: 17px;
  line-height: 24px;
}

.product__description {
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 30px;
}

.product__order {
  border-top: 1px solid rgb(237, 237, 237);
  display: flex;
  justify-content: space-between;
}

.product__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.product__btn {
  display: block;
  width: 20px;
  height: 19px;

  align-self: center;

  margin-right: 27px;

  font-size: 0;

  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .product {
    display: flex;
  }

  .product__text-wrapper {
    width: 50%;
    margin-left: auto;
    padding-right: 32px;
  }

  .product__title {
    font-size: 20px;
    margin-top: 24px;
  }

  .product__description {
    font-size: 15px;
  }

  .product__order {
    margin-top: auto;
    margin-bottom: 27px;
    padding-top: 20px;
  }

  .product__price {
    margin: 0;
  }
}

@media (min-width: 1150px) {
  .product {
    flex-direction: column;
    margin-right: 48px;
    margin-bottom: 0;

    width: 316px;
  }

  .product:last-child {
    margin-right: 0;
  }

  .product__text-wrapper {
    width: auto;
    height: 100%;
    margin-left: 0;
    padding-right: 32px;
  }
}
