.reviews {
  padding: 25px 30px;
  padding-bottom: 50px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 21px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 28px;

  font-size: 15px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .reviews {
    margin-top: 30px;
    padding: 0 50px;
    padding-top: 80px;
    padding-bottom: 85px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-image: url("../img/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    margin-bottom: 53px;

    font-size: 43px;
    line-height: 43px;

    order: -2;
    width: 50%;
  }

  .reviews_new {
    order: -1;
    align-self: baseline;

    width: 175px;
  }

  .reviews__text {
    font-size: 17px;
    margin-bottom: 57px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    margin: 25px 50px 0;
    padding: 70px 0 132px 177px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 50px;
  }

  .reviews_new {
    margin-top: 10px;
  }

  .reviews__text {
    padding-right: 100px;
    margin-bottom: 37px;
  }
}
