.slider__item {
  margin: 0;
  margin-bottom: 28px;
}

.slider__toggles {
  display: flex;
  margin-bottom: 37px;
  border: 1px solid rgb(236, 236, 236);
}

.slider__toggle {
  flex-basis: 50%;
  min-height: 52px;

  padding: 0;

  border: none;
  background-color: rgb(255, 255, 255);
  text-indent: -9999px;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
    outline: none;
  }

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;

    border-right: 1px solid rgb(236, 236, 236);
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}


@media (min-width: 768px) {
  .slider {
    position: relative;
  }

  .slider__toggles {
    width: 175px;
    border: none;

    position: absolute;
    right: 0;
    bottom: 0;

    margin-bottom: 30px;
  }

  .slider__toggle--prev {
    border: 0;
  }
}
