.social {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 25px;

  list-style: none;

  max-width: 150px;
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: block;
  width: 28px;
  height: 28px;

  font-size: 0;

  &:focus {
    outline: none;
  }
}

.social__link .social__icon {
  fill: rgb(35, 31, 32);
}


.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: rgb(70, 193, 174);
}

.social__link:active .social__icon {
  fill: rgb(70, 193, 174);
  opacity: 0.3;
}

@media (min-width: 768px) {
  .social {
    margin-left: 145px;
    padding-bottom: 0;
    max-width: unset;

    align-items: center;
    justify-content: center;
  }

  .social__item {
    margin-right: 35px;

    &:nth-child(2) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 1150px) {
  .social {
    margin-left: 337px;
  }
}
