.user-list__item {
  position: relative;
}

.user-list__icon {
  opacity: 0.2;
  padding-right: 47px;
  margin-left: -47px;

  fill: rgb(35, 31, 32);
}

.user-list__item a:hover .user-list__icon {
  opacity: 1;
  fill: rgb(99, 209, 187);
}

.user-list__item a:active .user-list__icon {
  opacity: 0.3;
  fill: rgb(99, 209, 187);
}

@media (min-width: 768px) {
  .user-list {
    order: 1;
    width: auto;
    margin-left: auto;
  }

  .user-list__item {
    border-bottom: none;
    border-left: 1px solid rgb(236, 236, 236);
  }

  .user-list__item a {
    padding-left: 30px;
    padding-top: 30px;
  }

  .user-list__item--cart a {
    padding-left: 33px;
  }

  .user-list__icon {
    padding-right: 47px;
    margin-left: 0;
  }

  .user-list__item--search a {
    width: 80px;
    font-size: 0;
  }

  .user-list__item a::after {
    top: 35px;
    left: 30px;
  }
}

@media (min-width: 1150px) {
  .user-list {
    order: 2;
    width: 350px;
    margin: 0;
  }

  .user-list__item a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
