.video {
  position: relative;
  min-height: 150px;

  background-image: url("../img/video-mobile@1x.jpg");
  background-color: rgb(231, 231, 231);
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.video__control {
  width: 101px;
  height: 77px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -55px;
  margin-top: -38px;

  text-indent: -9999px;
  border: none;
  background-color: transparent;

  background-image: url("../img/icon-play.svg");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
    outline: none;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -55px;
    margin-top: -38px;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -55px;
    margin-top: -38px;
  }
}


@media (min-width: 768px) {
  .video {
    order: -1;
    min-height: 455px;

    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }
}

@media (min-width: 1150px) {
  .video {
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 682px auto;
    }
  }
}
