html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  max-width: 320px;

  margin: 0 auto;
}

.overlay::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  body {
    max-width: 768px;
  }
}

@media (min-width: 1150px) {
  body {
    min-width: 1150px;
    max-width: unset;
  }
}
